@tailwind base;
@tailwind components;

/* @import "utility-classes.css"; */

@tailwind utilities;

@font-face {
  font-family: "JosefinSans-Regular";
  src: local("JosefinSans-Regular"),
    url("../../public/JosefinSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "JosefinSans-Bold";
  src: local("JosefinSans-Bold"),
    url("../../public/JosefinSans-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "LeagueSpartan-Bold";
  src: local("LeagueSpartan-Bold"),
    url("../../public/LeagueSpartan-Bold.otf") format("otf");
}

@font-face {
  font-family: "Fira Code VF";
  src: url("../../public/FiraCode-VF.ttf") format("ttf-variations"),
    url("../../public/FiraCode-VF.woff2") format("woff2-variations"),
    url("../../public/fonts/FiraCode-VF.woff") format("woff-variations");
}
@font-face {
  font-family: "Fira Code";
  src: url("../../public/fonts/firacode.ttf") format("ttf");
}
@font-face {
  font-family: "JetBrains Mono ExtraBold";
  src: url("../../public/fonts/JetBrains-Mono-NL-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "JetBrains Mono Bold Italic";
  src: url("./fonts/JetBrains-Mono-NL-Bold-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "VictorMono-Bold";
  src: url("../../public/Victor-Mono-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "VictorMono-Bold";
  src: url("../../public/Victor-Mono-Regular.ttf") format("ttf");
}

:root {
  scroll-behavior: smooth;
  --font-josefin-sans-bold: "JosefinSans-Bold", sans-serif;
  --font-josefine-sans-regular: "JosefinSans-Regular", sans-serif;
  --firacode: "Fira Code VF", monospace;
  --FiraCode: "Fira Code", monospace;
  --JetBrainsMono: "JetBrains Mono ExtraBold", monospace;
  --JetBrainsMonoBoldItalic: "JetBrains Mono Bold Italic", monospace;
  --VictorMono: "VictorMono-Bold", monospace;
  --VictorMonoRegular: "VictorMono-Regular", monospace;

  --dark-100: #252525;
  --dark-200: #232323;
  --dark-300: #202020;
  --dark-400: #1d1d1d;
  --dark-500: #1a1a1a;
  --dark-600: #181818;
  --dark-700: #151515;
  --dark-800: #1d1d1d;
  --dark-900: #121212;

  --deep-50: #f6f7f7;
  --deep-100: #e2e5e5;
  --deep-200: #c5c9ca;
  --deep-300: #a0a6a8;
  --deep-400: #7c8385;
  --deep-500: #61686b;
  --deep-600: #4d5254;
  --deep-700: #3f4546;
  --deep-800: #35393a;
  --deep-900: #2f3132;
  --deep-950: #1d1f20;

  --midnight-100: #e3e7ea;
  --midnight-200: #cad1d7;
  --midnight-300: #a5b1bb;
  --midnight-50: #f4f6f7;
  --midnight-400: #788898;
  --midnight-500: #5d6d7d;
  --midnight-600: #505c6a;
  --midnight-700: #454e59;
  --midnight-800: #3e444c;
  --midnight-900: #373b42;
  --midnight-950: #282c33;
}

/* --color-text: hsl(222deg, 22%, 5%);
  --color-background: hsl(0deg, 0%, 100%);
  --color-blurred-background: hsla(0deg, 0%, 100%, 0.85);
  --color-primary: hsl(245deg, 100%, 60%);
  --color-secondary: hsl(333deg, 100%, 45%);
  --color-tertiary: hsl(255deg, 85%, 30%);
  --color-decorative: hsl(200deg, 75%, 65%);
  --color-muted: hsl(210deg, 55%, 92%);
  --color-info: hsl(245deg, 100%, 60%);
  --color-success: hsl(160deg, 100%, 40%);
  --color-success-background: hsla(160deg, 100%, 40%, 0.1);
  --color-error: hsl(340deg, 95%, 50%);
  --color-error-background: hsla(340deg, 95%, 43%, 0.1);
  --color-alert: hsl(37deg, 100%, 50%);
  --color-alert-background: hsla(52deg, 100%, 50%, 0.25);
  --color-subtle-background: hsl(225deg, 25%, 95%);
  --color-subtle-floating: hsl(0deg, 0%, 100%);
  --color-homepage-light: hsl(204deg, 67%, 85%);
  --color-homepage-dark: hsl(202deg, 71%, 90%);
  --color-homepage-bg: hsl(204deg, 67%, 85%);
  --color-gray-100: hsl(225deg, 25%, 95%);
  --color-gray-200: hsl(225deg, 16%, 90%);
  --color-gray-300: hsl(225deg, 8%, 80%);
  --color-gray-400: hsl(225deg, 8%, 70%);
  --color-gray-500: hsl(225deg, 7%, 60%);
  --color-gray-600: hsl(225deg, 15%, 50%);
  --color-gray-700: hsl(225deg, 12%, 40%);
  --color-gray-900: hsl(225deg, 25%, 20%);
  --color-gray-1000: hsl(225deg, 15%, 15%);
} */

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #252525;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #232323;
}
